/* Relatio.scss */

@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

// main {
//     display: flex;
//     flex-direction: column;
//     padding: 40px 400px;
// }

.relation-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.relation-details {
    display: flex;
    flex-direction: column;
    gap: 20px;

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: $card-box-shadow;
    }

    section {
        display: flex;
        flex-direction: column;
    }
}



